[
  {
    {{- if eq .chezmoi.hostname "sachiel"}}
    "height": 27,
    "output": [
      "DP-5",
      "DP-3",
      "HDMI-A-1"
    ],
    {{- end }}
    {{- if eq .chezmoi.hostname "mariofw" }}
    "height": 27,
    "output": [
      "eDP-1",
      "*",
    ],
    {{- end }}
    "layer": "top",
    "modules-center": [
      "hyprland/window"
    ],
    "modules-left": [
      "hyprland/workspaces"
    ],
    "modules-right": [
      "load",
      "wireplumber",
      "clock",
      "tray"
    ],
    "position": "bottom",
    "spacing": 8,
    "tray": {
      "spacing": 4
    },
    "wireplumber": {
      "on-click": "pavucontrol"
    }
  }
]
