exec-once = uwsm app -- dbus-update-activation-environment --systemd --all
exec-once = uwsm app -- gsr-ui
exec-once = uwsm app -- lxqt-policykit-agent
exec-once = uwsm app -- waybar
exec-once = uwsm app -- wl-paste --type text --watch cliphist store
exec-once = uwsm app -- wl-paste --type image --watch cliphist store
exec-once = uwsm app -- steam -silent
exec-once = uwsm app -- solaar -w hide
exec-once = uwsm app -- spotify-launcher
exec-once = uwsm app -- nm-applet
exec-once = uwsm app -- blueman-applet

{{- if eq .chezmoi.hostname "sachiel" }}
exec-once = uwsm app -- xrandr --output DP-3 --primary
{{- end }}
