{{- if eq .chezmoi.hostname "mariofw" }}
bind=$mod, x, exec, brave --ozone-platform-hint=auto
{{- end}}
{{- if eq .chezmoi.hostname "sachiel" }}
bind=$mod, x, exec, brave # --ozone-platform-hint=auto
{{- end }}
bind=$mod, RETURN, exec, kitty
bind=$mod SHIFT, RETURN, exec, kitty -o allow_remote_control=yes --listen-on unix:/tmp/mykitty
# bind=$mod SHIFT, RETURN, exec, ghostty
bind=$mod, q, killactive,
# bind=$mod SHIFT, m, exit,
bind=$mod SHIFT, m, exec, uwsm stop
bind=$mod, c, exec, thunar
bind=$mod SHIFT, c, exec, kitty -- yazi
bind=$mod, j, togglesplit,
bind=$mod, s, exec, rofi -show drun -modes drun,run -show-icons
bind=$mod, z, exec, cliphist list | rofi -dmenu | cliphist decode | wl-copy
bind=$mod SHIFT, s, exec, grim -g "$(slurp)" - | swappy -f -
bind=$mod SHIFT, F11, exec, ~/.local/bin/toggle-recording.fish
bind=$mod SHIFT, F12, exec, ~/.local/bin/save-recording.fish
bind=, Print, exec, playerctl -p spotify volume 0.05-
bind=, Scroll_Lock, exec, playerctl -p spotify volume 0.05+
bind=$mod, t, fullscreen
bind=$mod, left, movefocus, l
bind=$mod, right, movefocus, r
bind=$mod, up, movefocus, u
bind=$mod, down, movefocus, d
bind=$mod, i, movefocus, r
bind=$mod, n, movefocus, l
bind=$mod, u, movefocus, u
bind=$mod, e, movefocus, d
bind=$mod SHIFT, left, movewindow, l
bind=$mod SHIFT, right, movewindow, r
bind=$mod SHIFT, up, movewindow, u
bind=$mod SHIFT, down, movewindow, d
bind=$mod SHIFT, i, movewindow, r
bind=$mod SHIFT, n, movewindow, l
bind=$mod SHIFT, u, movewindow, u
bind=$mod SHIFT, e, movewindow, d
bind=$mod, mouse_down, workspace, e+1
bind=$mod, mouse_up, workspace, e-1
bind=$mod, v, togglefloating,
bind=, XF86Launch6, exec, swaync-client -t -sw
bindel=, XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ -l 1
bindel=, XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%- -l 1
bindl=, XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindl=, XF86AudioPlay, exec, playerctl play-pause
bindl=, XF86AudioNext, exec, playerctl next
bindl=, XF86AudioPrev, exec, playerctl previous
bindm=$mod, mouse:272, movewindow
bindm=$mod, mouse:273, resizewindow
bind=$mod, M, exec, fish -c neovide
bind = $mod, L, exec, swaylock -c 000000

bind = SHIFT, XF86AudioRaiseVolume, exec, playerctl -p spotify volume 0.03+
bind = SHIFT, XF86AudioLowerVolume, exec, playerctl -p spotify volume 0.03-
