$mod=SUPER

{{- if eq .chezmoi.hostname "mariofw" }}
$Display1 = desc:Dell Inc. DELL P2720DC BP0HT03
$Display2 = desc:Dell Inc. DELL P2720DC HP0HT03
{{- end}}

source=~/.config/hypr/mocha.conf
source=~/.config/hypr/autostart.conf
source=~/.config/hypr/workspaces.conf
source=~/.config/hypr/binds.conf

{{- if eq .chezmoi.hostname "sachiel" }}
monitor = DP-5,     3840x2160@165,  0x0,       1.2,  vrr, 2, bitdepth, 10, cm, srgb, sdrsaturation, 1.2, sdrbrightness, 1.2
# monitor = HDMI-A-3, 3840x2160@120,  5000x5000, 1,     vrr, 2, bitdepth, 10, cm, auto #, mirror, DP-3
monitor = DP-3,     3840x2160@60,   3200x288,  1.5,   vrr, 2, bitdepth, 10
monitor = HDMI-A-3, disable
# monitor=DP-1,disable
# monitor=DP-3,disable
{{- end }}

{{- if eq .chezmoi.hostname "mariofw" }}
monitor=eDP-1,2256x1504@60,0x0,1.566667
monitor=$Display1,2560x1440@60, 1440x0,1
monitor=$Display2,2560x1440@60, 4000x0,1
monitor=DP-1,1920x1080@60,1440x0,1

workspace=1,monitor:eDP-1
workspace=4,monitor:eDP-1
workspace=7,monitor:eDP-1

workspace=2,monitor:$Display1
workspace=5,monitor:$Display1
workspace=8,monitor:$Display1

workspace=3,monitor:$Display2
workspace=6,monitor:$Display2
workspace=9,monitor:$Display3
{{- end }}

animations {
  enabled = false
}

decoration {
  rounding = 0
}

dwindle {
  preserve_split = true
}

general {
  col.active_border = $teal $sapphire 45deg
  col.inactive_border = $surface0 $surface1 45deg
  gaps_in = 0
  gaps_out = 0
  layout = dwindle
}

misc {
  font_family = "JetBrainsMono Nerd Font"
  middle_click_paste = false
}

render {
  direct_scanout = 2
}

cursor {
    inactive_timeout = 5
{{- if eq .chezmoi.hostname "sachiel" }}
    default_monitor = DP-5
{{- end }}

{{- if eq .chezmoi.hostname "mariofw" }}
    default_monitor = $Display2
{{- end }}
    # use_cpu_buffer = true
}

input {
  follow_mouse=1
  force_no_accel=true
  kb_layout=us
{{- if eq .chezmoi.hostname "mariofw" }}
  kb_variant=colemak
{{- end }}
}
{{- if eq .chezmoi.hostname "sachiel" }}
source=~/.config/hypr/input.conf
{{- end }}

{{- if eq .chezmoi.hostname "sachiel" }}
xwayland {
  force_zero_scaling=true
}
{{- end }}


env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = NVD_BACKEND,direct


{{- if eq .chezmoi.hostname "sachiel" }}
windowrule = monitor DP-3, class:Spotify
{{- end }}
{{- if eq .chezmoi.hostname "mariofw" }}
windowrule = monitor eDP-1, class:Spotify
# env = ELECTRON_OZONE_PLATFORM_HINT,auto
{{- end }}

experimental {
  xx_color_management_v4 = true
}

group {
  col.border_active = $green
  col.border_inactive = $surface0 $surface1 45deg
  col.border_locked_active = $yellow $peach 45deg
  col.border_locked_inactive = $surface0 $surface1 45deg

  groupbar {
    height = 20
    gradients = true
    font_size = 12
    indicator_height = 0
    # keep_upper_gap = false
    gaps_in = 0
    gaps_out = 0
    col.active = $base
    col.inactive = $surface1
    col.locked_active = $mantle
    col.locked_inactive = $surface0
    text_color = $text
  }
}
