{{- if eq .chezmoi.hostname "sachiel" }}
workspace = 1, monitor:DP-5
workspace = 2, monitor:DP-3
workspace = 3, monitor:DP-5
workspace = 4, monitor:DP-3
workspace = 5, monitor:DP-5
workspace = 6, monitor:DP-3
workspace = 7, monitor:DP-5
workspace = 8, monitor:DP-3
workspace = 9, monitor:HDMI-A-1
{{- end }}

{{- if eq .chezmoi.hostname "mariofw" }}
workspace = 1, monitor:eDP-1
workspace = 2, monitor:$Display1
workspace = 3, monitor:$Display2
workspace = 4, monitor:eDP-1
workspace = 5, monitor:$Display1
workspace = 6, monitor:$Display2
workspace = 7, monitor:eDP-1
workspace = 8, monitor:$Display1
workspace = 9, monitor:$Display2
{{- end }}

bind=$mod, 1, workspace, 1
bind=$mod SHIFT, 1, movetoworkspace, 1
bind=$mod, 2, workspace, 2
bind=$mod SHIFT, 2, movetoworkspace, 2
bind=$mod, 3, workspace, 3
bind=$mod SHIFT, 3, movetoworkspace, 3
bind=$mod, 4, workspace, 4
bind=$mod SHIFT, 4, movetoworkspace, 4
bind=$mod, 5, workspace, 5
bind=$mod SHIFT, 5, movetoworkspace, 5
bind=$mod, 6, workspace, 6
bind=$mod SHIFT, 6, movetoworkspace, 6
bind=$mod, 7, workspace, 7
bind=$mod SHIFT, 7, movetoworkspace, 7
bind=$mod, 8, workspace, 8
bind=$mod SHIFT, 8, movetoworkspace, 8
bind=$mod, 9, workspace, 9
bind=$mod SHIFT, 9, movetoworkspace, 9
bind=$mod, 0, workspace, 10
bind=$mod SHIFT, 0, movetoworkspace, 10

# smart gaps from hyprland wiki
workspace = w[tv1], gapsout:0, gapsin:0
workspace = f[1], gapsout:0, gapsin:0
windowrulev2 = bordersize 0, floating:0, onworkspace:w[tv1]
windowrulev2 = rounding 0, floating:0, onworkspace:w[tv1]
windowrulev2 = bordersize 0, floating:0, onworkspace:f[1]
windowrulev2 = rounding 0, floating:0, onworkspace:f[1]

